<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Peter Wood</h3>
      </div>

      <div class="text-center">@acedanger</div>
      <div class="text-center">
        <a href="https://peranda.com">peranda.com</a>
      </div>
    </div>
  </div>
</div>